body {
    font-family: Arial, sans-serif;
    background-color: #69bbbb;
    color: #000;
    margin: 0;
    padding: 0;
}

.create-zone {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e0f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.create-zone h1,
.create-zone h2 {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

.create-zone .language-switcher {
    text-align: right;
    margin-bottom: 20px;
}

.create-zone .language-switcher button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;
    width: auto;
    display: inline-block;
}

.create-zone .language-switcher button:hover {
    background-color: #0056b3;
}

.create-zone p {
    margin-bottom: 10px;
    color: #000;
}

.create-zone form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-zone .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-zone .form-group label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.create-zone .form-group input[type="text"],
.create-zone .form-group textarea {
    flex: 0.7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-zone textarea {
    resize: none;
}

.create-zone .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 130px;
    display: block;
    margin-left: 0;
}

.create-zone .submit-button:hover {
    background-color: #218838;
}

.create-zone .link-button {
    background-color: #1f7a7a;
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 10px;
    max-width: 130px;
}

.create-zone .link-button:hover {
    background-color: #166666;
}

.create-zone .back-button {
    background-color: #1f7a7a;
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 0;
    max-width: 130px;
}

.create-zone .back-button:hover {
    background-color: #166666;
}
