body {
    font-family: Arial, sans-serif;
    background-color: #69bbbb;
    color: #000;
    margin: 0;
    padding: 0;
}

.login {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #e0f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.language-switcher {
    text-align: right;
    margin-bottom: 20px;
    padding-right: 20px;
}

.language-switcher button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;
    width: auto;
    display: inline-block;
}

.language-switcher button:hover {
    background-color: #0056b3;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login label {
    font-weight: bold;
    margin-bottom: 5px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 130px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 130px;
}

.submit-button:hover {
    background-color: #218838;
}

.register-button {
    background-color: #1f7a7a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10px auto 0 auto;
    width: 100%;
    max-width: 130px;
}

.register-button:hover {
    background-color: #166666;
}

.message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
